<h3><i class="fa fa-angle-right"></i> Connections</h3>
<div class="col-md-12 mb">
	<div class="col-md-4"></div>
	<div class="col-md-4">
		<div class="darkblue-panel pn col">
		    <div class="darkblue-header">
		        <h5>BOBMK16</h5>
		    </div>
		    <h1 class="mt"><i class="fa fa-user fa-3x"></i></h1>
		    <p>+ 1,789 Connections</p>
		    <footer>
				<div class="centered">
		            <h5><i class="fa fa-trophy"></i> 17,988</h5>
				</div>
		    </footer>
		</div>
	</div>
	<div class="col-md-4"></div>
</div>
<div class="col-md-1 mb"></div>
<div class="col-md-2 mb">
    <div class="darkblue-panel pn col">
                            <div class="darkblue-header">
                    <h5>SAMPLE1</h5>
                            </div>
                            <h1 class="mt"><i class="fa fa-user fa-3x"></i></h1>
                <p>+ 1,789 Connections</p>
                <footer>
                  <div class="centered">
                    <h5><i class="fa fa-trophy"></i> 17,988</h5>
                  </div>
                </footer>
    </div>
  </div>
  
<div class="col-md-2 mb">
<div class="darkblue-panel pn col">
                        <div class="darkblue-header">
                <h5>SAMPLE2</h5>
                        </div>
                        <h1 class="mt"><i class="fa fa-user fa-3x"></i></h1>
            <p>+ 1,789 Connections</p>
            <footer>
              <div class="centered">
                <h5><i class="fa fa-trophy"></i> 17,988</h5>
              </div>
            </footer>
</div>
</div>

<div class="col-md-2 mb">
<div class="darkblue-panel pn col">
                        <div class="darkblue-header">
                <h5>SAMPLE3</h5>
                        </div>
                        <h1 class="mt"><i class="fa fa-user fa-3x"></i></h1>
            <p>+ 1,789 Connections</p>
            <footer>
              <div class="centered">
                <h5><i class="fa fa-trophy"></i> 17,988</h5>
              </div>
            </footer>
</div>
</div>

<div class="col-md-2 mb">
<div class="darkblue-panel pn col">
                        <div class="darkblue-header">
                <h5>SAMPLE4</h5>
                        </div>
                        <h1 class="mt"><i class="fa fa-user fa-3x"></i></h1>
            <p>+ 1,789 Connections</p>
            <footer>
              <div class="centered">
                <h5><i class="fa fa-trophy"></i> 17,988</h5>
              </div>
            </footer>
</div>
</div>

<div class="col-md-2 mb">
	<div class="darkblue-panel pn col">
	                        <div class="darkblue-header">
	                <h5>SAMPLE5</h5>
	                        </div>
	                        <h1 class="mt"><i class="fa fa-user fa-3x"></i></h1>
	            <p>+ 1,789 Connections</p>
	            <footer>
	              <div class="centered">
	                <h5><i class="fa fa-trophy"></i> 17,988</h5>
	              </div>
	            </footer>
	</div>
</div>
<div class="col-md-1 mb"></div>