<div class="row mtbox">
                      <div class="col-md-2 col-md-offset-1 col-sm-2 box0">
                        <div class="box1">
                          <span class="li_mail"></span>
                          <h3>0</h3>
                                </div>
                          <p>You have 0 unread messages in your inbox.</p>
                      </div>
                  		<div class="col-md-2 col-sm-2 box0">
                  			<div class="box1">
        					  			<span class="li_heart"></span>
        					  			<h3>0</h3>
                          			</div>
        					  			<p>0 People liked your page the last 24hs. Whoohoo!</p>
                  		</div>
                  		<div class="col-md-2 col-sm-2 box0">
                  			<div class="box1">
        					  			<span class="li_user"></span>
        					  			<h3>+0</h3>
                          			</div>
        					  			<p>0 Network connections.</p>
                  		</div>
                  		<div class="col-md-2 col-sm-2 box0">
                  			<div class="box1">
					  			<span class="li_news"></span>
					  			<h3>+0</h3>
                  			</div>
					  			<p>More than 0 news were added in your reader.</p>
                  		</div>
                  		<div class="col-md-2 col-sm-2 box0">
                  			<div class="box1">
					  			<span class="li_banknote"></span>
					  			<h3>0</h3>
                  			</div>
					  			<p>You have earned Php 0 for the last month.</p>
                  		</div>
                  	
                  	</div><!-- /row mt -->